
html, body{
    display: flex;
    justify-content: center;
}

article {
    background-color: #F7F6F4;
    border-style: solid;
    border-color: #2A1848;
    border-width: 10px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 330px;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
}

header > nav > ul{
    display: none;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 800;
} 

p:nth-child(3){
    padding-top: 30px;
}

p > span{
    color: #382457;
}

body > article > img{
    border-style: solid;
    border-radius: 100%;
    border-width: 10px;
    border-color: #2A1848;
    background-color: #FFF9EF;
    padding-left: 50px;
    padding-right: 50px; 
    

    
   
}

a > img{
    width: 30px;
    border-style: solid;
    border-color: #2A1848;
    border-radius: 10px;
    
}

ul{
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    list-style: none;
    padding-right: 60px;
    padding-left: 70px; 
} 
@media only screen and (min-width: 650px){
    html{
        background-color: red;
    }

    body{
        
    }






}
